<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <title>Submission Tugas Modul 4</title>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" type="image/png" href="/icons/favicon-96x96.png"/>
  <link rel="manifest" href="/manifest.json">
</head>

<body>
  <a href="#main" class="skip-link">Skip to content</a>
  <app-bar></app-bar>
  <br></br>
  <main id="mainContent" tabindex="0"></main>
  <foot-bar></foot-bar>
</body>

</html>